.title {
    color: var(--white);
    margin: 2rem auto;
    font-size: 4rem;
}

.containerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 1rem;
    margin: 0 auto;
}

.containerMain{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
}

.containerTitle{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 50vh;

}