@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "semibold";
    src: url(/font/OverusedGrotesk-SemiBold.ttf);
}

@font-face {
    font-family: "bold";
    src: url(/font/OverusedGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: "ATON";
    src: url(/font/Anton-Regular.ttf);
}

* {
    font-family: bold;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    color: var(--white);
}


:root {
    --white: #ffff;
    --secondWhite: #c6c6c6;
    --secondary: #0073ff;
    --background: rgb(3, 4, 6);
    --black: #000000;
    --green: #17c964ff;
}

html {
    scroll-behavior: smooth;
}


.text-foreground{
    color: white;
}